@font-face {
    font-weight: 400; /* Соответствует значению normal */
    font-family: 'Montserrat';
    src: url("css/fonts/Montserrat-Regular.ttf");
    color: white;
}

@font-face {
    font-weight: 700; /* Соответствует значению bold */
    font-family: 'Montserrat';
    src: url("css/fonts/Montserrat-Bold.ttf");
    color: white;
}

@font-face {
    font-weight: 600;
    font-family: 'Montserrat';
    src: url("css/fonts/Montserrat-SemiBold.ttf");
    color: white;
}

.navbar {
    height: 90px;
}

.logo {
    width: 120px;
}

button[data-bs-toggle="collapse"] {
    margin-right: 35px;
}

.container-fluid {
    padding: 0px 150px 0px 150px;
}

.nav-link {
    margin: 0px 22px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 19.5px;
    letter-spacing: 2px;
}

.about-agency {
    padding-top: 90px;
    text-align: center;
}

.h1 {
    font-weight: 700;
    size: 56px;
    line-height: 68px;
    margin-bottom: 30px;
}

.text-detail-about-agency {
    font-weight: 400;
    size: 18px;
    line-height: 30px;
    margin-bottom: 90px;
}

.block-text-item {
    padding: 20px;
}

.text-items {
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    margin: 10px 15px;
}

.pictures-big-right-container {
    width: 447px;
    height: 447px;
    border-radius: 40px;
}

.exmpl {
    overflow: hidden;
    display: flex;
    justify-content:center;
    align-items: right;
}

.exmpl img {
    height: 100%;
    width: auto;
}

.slider {
    position: relative;
}

/* фон в слайдере заменили на темный */
.modal-content {
    background-color: rgb(29, 29, 29);
}

/* картинка в слайдере является фоном, делаем его по центру, без повторений */
.slider_item {
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slick-arrow {
    position: absolute;
    top: 48vh;
    z-index: 3;
}

/* кнопка слайдера назад */
.slick-prev {
    right: 95%;
    font-size: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0.5;
    transition: all 0.2s;
}

/* кнопка слайдера вперед */
.slick-next {
    left: 95%;
    font-size: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0.5;
    transition: all 0.2s;
}

.slick-arrow:hover {
    opacity: 0.8;
}
